include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include pos_glossy *.css
recursive-include pos_glossy *.csv
recursive-include pos_glossy *.html
recursive-include pos_glossy *.ico
recursive-include pos_glossy *.js
recursive-include pos_glossy *.json
recursive-include pos_glossy *.md
recursive-include pos_glossy *.png
recursive-include pos_glossy *.py
recursive-include pos_glossy *.svg
recursive-include pos_glossy *.txt
recursive-exclude pos_glossy *.pyc